/* Default Style */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0; 
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  label {
    display: block;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }


:root {
    --background-color: #355c88;
    --background-color-darker: #1510193d;
    --primary-color: #ffaf38;
    --border-radius: 24px;
    --mark-color: #ffffffce;
    --page-padding: 30px;
    --gameboard-width: calc(300px + 10vw);
}

html, body {
    height: 100svh;
    background-color: var(--background-color);
}

.game {
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;

    background-color: var(--background-color);
    color: var(--primary-color);
    padding-block: var(--page-padding);
}

.game h1 {
    font-size: 3rem;
}

.player-info {
    display: flex;
    gap: clamp(110px, 35vw, 150px);
    margin-top: 16px;
}

.player-info > * {
    display: grid;
    justify-items: center;
    width: min(100px, 20vw);
    min-width: 80px;

    & > .turn {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        border-radius: 1rem;
    }

    & .score {
        width: 50%;
        margin-top: 16px;
        font-size: 2.4rem;
    }
}

.winner {
    min-height: 40px;
    font-size: 1.6rem;
    word-spacing: 6px;
}

#xTurn {
    background: url(img/cross_yellow.svg) transparent;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    &.active{
        background-color: var(--primary-color);
        background-image: url(img/cross_red.svg);
    }
}
#oTurn {
    background: url(img/circle_yellow.svg) transparent;
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;

    &.active {
        background-color: var(--primary-color);
        background-image: url(img/circle_red.svg);
    }
}

.gameboard {
    width: var(--gameboard-width);
    height: auto;
    aspect-ratio: 1 / 1;
    max-width: 430px;
    margin-top: 12px;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
}

button.cell {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5rem;
    color: #fff;
    background-image: transparent;
    background-color: var(--background-color-darker);
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;

    transition: background-size 200ms ease-in-out;

    &.xMark {
        background-size: 60%;
        background-image: url(./img/cross_dark.svg);
        transition: background-size 200ms ease-in-out;
    }

    &.oMark {
        background-size: 60%;
        background-image: url(./img/circle_dark.svg);
        transition: background-size 200ms ease-in-out;
    }

    &:hover {
        box-shadow: 0 0 16px #5d80a8a9;
    }
}

.cell.xMark.winning-cell {
    background-image: url(./img/cross_yellow.svg);
}

.cell.oMark.winning-cell {
    background-image: url(./img/circle_yellow.svg);
}

.nav-buttons {
    width: var(--gameboard-width);
    max-width: 430px;
    height: 40px;
    min-height: 40px;
    display: flex;
}

.nav-buttons > *{
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;

    font-weight: bold;
    font-size: 1.2rem;
}

.nav-buttons .restart {
    color: #fff;
    background: none;
    padding: 0;
    &:hover {
        color: var(--primary-color);
        border-bottom: 2px solid var(--primary-color);
    }
}

.nav-buttons .nextRnd {
    margin-left: auto;
    margin-right: 0;
    color: var(--background-color);
    background-color: var(--primary-color);
    border: 5px solid var(--primary-color);
    border-radius: 6px;
    transition: all .2s;

    &:hover {
        background-color: var(--background-color); 
        color: var(--primary-color);
    }
}

button.new-game {
    width: 140px;
    height: 60px;
    color: #fff;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
    font-size: 1.4rem;

    margin-top: 16px;
    padding: 4px 10px;
    border-radius: 12px;
    border: 4px solid var(--background-color-darker);
    
    &:hover {
        box-shadow: 0 0 16px #00000079;
    }
}

#mode-window, #robot-window, #friend-window, #robotTwo-window {
    background-color: var(--background-color);
    color: var(--primary-color);
    height: 100%;
    padding-block: var(--page-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
}

#mode-window {
    justify-content: center;
}

#mode-window button.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 150px;

    padding: 12px;
    color: var(--primary-color);
    outline: none;
    font-size: 1.4rem;

    background-color: var(--background-color-darker);
    border: 8px solid var(--background-color-darker);
    
    border-radius: 0px;

    position: relative;
    box-shadow: 5px 5px var(--background-color-darker);
    transition: all 0.1s linear;

    & + button {
        margin-top: 1rem;
    }

    &:hover {
        background-color: #3f35473d;;
    }

    &:active {
        box-shadow: 0 0 var(--background-color-darker);
        top: 3px;
        left: 3px;
    }
}

button.option img {
    width: 80px;
    height: 80px;
    margin-block: auto;
    display: inline;
}

button#bot-against-bot img {
    height: 70px;
}


#robot-window, #friend-window, #robotTwo-window {
    justify-content: start;
    & > * {
        margin-top: 16px;
    }

    & h1 {
        font-size: 3rem;
    }
    
    & h2 {
        font-size: 1.6rem;
        border-bottom: 2px var(--primary-color) solid;
    }
}

#robot-window, #friend-window, #robotTwo-window {
    display: none;
}

#mode-window .options {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    gap: 1rem;      
}

#mode-window button {
    width: 300px;
    height: 120px;
}

#robot-window h2::before {
    display: block;
    width: 70px;
    height: 70px;
    content: '';
    background-image: url(./img/bot-icon-yellow.svg);
    background-size: 120%;
    background-position: center;
    margin-inline: auto;
    margin-bottom: 0;
}

#robot-window input[type="radio"] {
    appearance: none;
    display: block;
}

.sides {
    display: flex;
    gap: 2.5rem;
}

.sides input + label {
    min-width: 130px;
    min-height: 130px;
    border-radius: var(--border-radius);
    border: 1px solid transparent;

    transition: border 0.1s;
    &[for="sideX"] {
        background: url(./img/cross_yellow.svg) transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;    
    }

    &[for="sideO"] {
        background: url(./img/circle_yellow.svg) transparent;    
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%;    
    }
}

.sides input:hover + label {
    border: 5px var(--primary-color) solid;
}

.sides input:checked + label {
    background-color: var(--primary-color);

    &[for="sideX"] {
        background-image: url(./img/cross_red.svg);
    }

    &[for="sideO"] {
        background-image: url(./img/circle_red.svg);
    }
}

.difficulties {
    margin-top: .4rem;
}

.difficulties label{
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.2rem;
    padding: 4px 12px;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: border 0.1s linear;
}

.difficulties input:checked + label {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.difficulties input:hover + label {
    border: 4px var(--primary-color) solid;
    font-size: 1.7rem;
}

button.start {
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--primary-color);
    
    width: 340px;
    height: 80px;
    border: 1px solid var(--primary-color);
    border-radius: var(--border-radius);
    
    transition: all .2s linear;
    margin-top: auto;

    &:hover, &:active {
        background-color: var(--background-color);
        color: var(--primary-color);
        border-width: 10px;
    }
}

#friend-window h2::before {
    display: block;
    width: 70px;
    height: 70px;
    content: '';
    background-image: url(./img/multiplayer-icon.svg);
    background-size: 100%;
    background-position: center;
    margin-inline: auto;
    margin-bottom: 0;
}

#friend-window p + p{
    margin-top: 1.4rem;
}

#friend-window label {
    width: 140px;
    height: 140px;
    margin-inline: auto;

    &[for="playerX-name"] {
        background: url(./img/cross_yellow.svg) transparent;    
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%; 
    }

    &[for="playerO-name"] {
        background: url(./img/circle_yellow.svg) transparent;    
        background-position: center;
        background-repeat: no-repeat;
        background-size: 75%; 
    }
    
}

#friend-window input {
    /*Style reset*/
    appearance: none;
    -webkit-appearance: none;
    outline: none;

    display: block;
    width: 200px;
    height: 3rem;
    margin-inline: auto;

    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary-color);
    background-color: transparent;
    
    border: 3px solid var(--primary-color);
    border-radius: 6px;
}


#robotTwo-window h2 > div {
    display: flex;
    justify-content: center;
    & > img{
        width: 70px;
        height: 70px;
    }
}

#robotTwo-window > .bots {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(50px, 20vw ,90px);
}

.bots > * {
    display: grid;
    justify-items: center;
}

#robotTwo-window .icon {
    width: 50%;
    height: auto;
    aspect-ratio: 1 / 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.X{
        background-image: url(./img/cross_yellow.svg);
        background-size: contain;
    }

    &.O{
        background-image: url(./img/circle_yellow.svg);
    }
}

#robotTwo-window input[type="radio"] {
    appearance: none;
    display: block;
}

#robotTwo-window label {
    width: 160px;
}

@media screen and (max-width: 400px) {
    button.start {
        width: 80%;
        height: 70px;
        font-size: 2.4rem;
    }

    #mode-window, #friend-window, #robot-window, #robotTwo-window,
    .game {
        font-size: 0.8rem;

        & h1{
            font-size: 1.8rem;
        }

        & h2 {
            font-size: 1.4rem;
        }
    }

    #mode-window .options button.option {
        width: 280px
    }


    #robot-window {
        & .sides input + label  {
            min-width: 100px;
            min-height: 100px;
        }
    }

    #robotTwo-window > .bots {
        gap: 30px;
    }

    #robotTwo-window .icon {
        width: 90px;
    }

    #robotTwo-window label {
        width: 90px;
        font-size: 1.2rem;
    }

    .game .score {
        font-size: 2rem;
    }

    .game .winner {
        font-size: 1.4rem;
        height: 26px;
    }

}


@media screen and (max-width: 375px) {
    .game .gameboard {
        width: calc(200px + 30vw);
    }

    .game .nav-buttons {
        width: calc(200px + 30vw);
        font-size: 1rem;
        height: 30px;
        min-height: 30px;
    }

    .nav-buttons .nextRnd{
        border-width: 2px;
    }

    .game .new-game {
        width: 120px;
        height: 45px;
        font-size: 1.2rem;
    }
}
